@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #212121;
  --primary: #212121;
  --primary-foreground: #ffffff;
  --primary-tag: #8d8d8d;
  --primary-grey: #6d6d6d;
  --primary-grey-background: #f2f2f2;
  --graphite: #262626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-tag: var(--primary-tag);
  --color-primary-grey: var(--primary-grey);
  --color-primary-grey-background: var(--primary-grey-background);
  --color-graphite: var(--graphite);

  --shadow-header: 0px 1px 3px 0px #0000001a;

  --breakpoint-xl: 72.5rem;
  --breakpoint-2xl: initial;
}

html {
  @apply scroll-smooth;
}

body {
  background: var(--background);
  color: var(--foreground);

  font-size: var(--text-base);
  line-height: var(--text-base--line-height);

  font-family: Arial, Helvetica, sans-serif;
}
