.letter-above {
  @apply relative;
}

.letter-above::before {
  content: attr(data-letter-above);
  position: absolute;

  top: -2.2rem;
  left: 50%;
  transform: translateX(-50%) rotate(180deg) scaleX(-1);

  @apply text-[1.8rem] font-(family-name:--font-nimpkish);
}
